<div mat-dialog-content>
	<mat-form-field>
		<mat-label>Select Patterns</mat-label>
		<mat-select [(value)]="res" multiple>
			<mat-option *ngFor="let alg of algorithms" [value]="alg">{{alg.name}}</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button class="action-button-with-margin" (click)="closeDialog()" color="accent" mat-raised-button>
		<i class="material-icons"></i> deleteAlgorithm
	</button>
	<button mat-dialog-close class="action-button-with-margin" mat-raised-button >
		<i class="material-icons"></i> close
	</button>
</div>